In [ ]:
#speed=160 km/h,car_age=10years,experience=5years
#First we have to handle the null values
#y=mx+c
#risk=m1*speed+m2*car_age+m3*experience+intercept

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df= pd.read_csv('speed_car_age_experience_risk.csv')

In [3]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [4]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [ ]:
#there is a null value #we can fill up null values in two way #mean function #median function

In [5]:
df.experience.mean()

6.6

In [6]:
df.experience.median()

5.0

In [7]:
exp_fit=df.experience.median()

In [8]:
exp_fit

5.0

In [9]:
df.experience = df.experience.fillna(exp_fit)

In [10]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [11]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [12]:
reg = linear_model.LinearRegression()

In [15]:
reg.fit(df[['speed','car_age','experience']].values,df.risk.values) #careful about dimension

LinearRegression()

reg.fit(df[['speed','car_age','experience']],df.risk) #if I use this code like previous time it will show error. Because I fitted the model with a data in a dataframe, and then used only the values to predict.

In [21]:
reg.predict([[160,10,5]])

array([71.37146872])

In [26]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [23]:
reg.intercept_

33.410000910435905

In [27]:
y= 0.33059217*160+ 1.61053246*10 -6.20772074*5+33.410000910435905
print(y)

71.3714690104359